@media print {  
  #toolBar1 {
    display:none;    
  } 

}



html, body {
  overflow: hidden;
}

input:-moz-read-only { /* For Firefox */
    background-color: yellow;
    color: grey;
}

input:read-only {
    background-color: lightGrey;
    color: grey;
}

.noSelect {
-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;    
     
}

.unchecked {
    //border: 1px solid black;
    //background-color: white;
    color: black;
    cursor: pointer;
    font-size: 12px;

}
.checked {
    //border: 1px solid grey;
    //background-color: grey;
    border-width:2px;    
    border-style:inset;
    //color: darkGrey;
    cursor: pointer;
    font-size: 12px;

}
.unchecked:hover {
    background-color: lightGrey;
    //border: 1px solid black;
}

table{
    //border: 1px solid black;
    width: 99%;
    //height: 100%;
    //z-index: 10;
    white-space: nowrap;
}


th{
    border: 1px solid black;
}

.color{
    //border: 1px solid black;
    min-width: 12px;
    width: 12px;
    
}

.toolBar{
  //height: 94.5%;
  height: 92%;
}

.noToolBar{
  height: 98%;
}

.plotContainer{

      position: relative;
	margin-left: 15px;
	margin-top: 15px;

      //border-style: solid;
      //border-width: 1px;      
      //height: 94.5%;
      //height: 90.68%;
      //height: 98%;
      width: 98%;
      overflow: hidden;

   }
   #titleDiv{
      position: absolute;
      //border-style: solid;
      //border-width: 1px;  
      height: 22px; 
      
     left: 108px;
     right: 305px;
     top: 0px;
     overflow: hidden;


   }
   #bottomScaleDiv{
     //border-style: solid;
      //border-width: 1px;  
      height: 40px;
      
     position: absolute;
     left: 108px;
     right: 305px;
     
     bottom: 22px;
     overflow: hidden;
   }
   #footerDiv{
     //border-style: solid;
      //border-width: 1px;  
      height: 22px;
      
     position: absolute;
     left: 108px;
     right: 305px;
     
     bottom: 0px;
     overflow: hidden;
   }
      
   #topScaleDiv{
     //border-style: solid;
      //border-width: 1px;  
      height: 40px;
      
     position: absolute;
     left: 108px;
     
     top: 22px;
     right: 305px
     overflow: hidden;

   }

   #wrap {
    position: absolute;
    
    bottom: 0px;
    width: 22px;
    height: 100%;
    text-align: center;

    display: table;
}

   
   #leftScaleDiv{
     //border-style: solid;
      //border-width: 1px;  
      width: 108px;
      font-size: 16px;
     
     position: absolute;
     
     bottom: 62px;
     top: 62px;
     left: 0px;
     overflow: hidden;
     
   }
   
   #rightScaleDiv{
     //border-style: solid;
      //border-width: 1px;  
      width: 108px;
      font-size: 16px;
     //text-align: center;
     position: absolute;
     //left: 100px;
     //height: 100%;
     bottom: 62px;
     top: 62px;
     right: 196px;
     overflow: hidden;
     
   }

   #centralDiv{
     border-style: solid;
      border-width: 1px;      
      font-size: 16px;     
     position: absolute;     
     bottom: 62px;
     left: 108px;
     top: 62px;
     right: 305px;
     //cursor: crosshair;
     overflow: hidden;
    //margin-right: 150px;
    z-index: 1;
     
   }
   
      
   #legendDiv{
     //border-style: solid;
      //border-width: 1px;  
      width: 180px;
      //font-size: 16px;
     //text-align: center;
     position: absolute;
     right: 3px;
     //height: 100%;
     bottom: 25px;
     //left: 108px;
     top: 25px;
     overflow: hidden;

   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
     
     
   }
   
  
   .rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

